<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>İT-ni bizimlə öyrən</title>
</head>
<body>
    <link href="~/Content/css/bootstrap.css" rel="stylesheet">
    <div class="container">
        <h2>Qeydiyyat</h2> </div>
        <form>
            <div class="form-group">
                <label for="name">Ad:</label>
                <input type="name" class="form-control" id="name" placeholder="Adınız">
            </div>
            <div class="form-group">
                <label for="surename">Soyad</label>
                <input type="surname" class="form-control" id="surname" placeholder="Soyadınız">
            </div>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email-i daxil edin">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Şifrəni daxil edin">
                <label>
                    <input type="radio"
                           name="Sex"> Kişi
                </label>
                <label>
                    <input type="radio" name="sex">
                    Qadın
                </label>
            </div>

            <div class="checkbox">
                <label><input type="checkbox"> Xatırlat</label>
            </div>
            <button type="submit" class="btn btn-default">Qeydiyyatdan keç</button>

    </form>
</body>
</html>