<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>İT-ni bizimlə öyrən</title>

    <link href="~/Content/css/bootstrap.css" rel="stylesheet">

    </head>

<body>
    <div class="container">
        <h2>Daxil ol</h2>
        <form>
            <div class="form-group">
                <label for="email">Email:</label>
                <input type="email" class="form-control" id="email" placeholder="Email-i daxil edin">
            </div>
            <div class="form-group">
                <label for="pwd">Password:</label>
                <input type="password" class="form-control" id="pwd" placeholder="Şifrəni daxil edin">
                <div class="checkbox">
                    <label><input type="checkbox"> Xatırlat</label>
                </div>
                <button type="submit" class="btn btn-default">Daxil ol</button>
            </div>

        </form>
    </div>
</body>
</html>
